<header class="header">
  <nav class="navbar p-0 navbar-expand-lg fixed-top navbar-lewagon">
    <div class="container">
      <%= link_to "#", class: "navbar-brand" do %>
        <%= image_tag "logo_transparent.png"%>
      <% end %>
      <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
      <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to "Home", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Speeches", speeches_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "New Speech", new_speech_path, class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
              <% if current_user.photo.attached? %>
                <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <% if current_user.teacher?%>
                    <p class="nav-p">Profile: Teacher</p>
                  <% else %>
                    <p class="nav-p">Welcome <%= current_user.first_name %>!</p>
                  <% end %>
                  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                </div>
              <% end %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
