<div class="container">
  <div class="row py-4">
    <div class="col-md-3"><%= cl_image_tag @order.speech.user.photo.key, width: '100%' %></div>
    <div class="col">
      <h1>Order #<%= @order.id %> <small><span class="badge badge-primary"><%= @order.state %></span></small></h1>
      <ul class="list-unstyled">
        <li><strong>ISSUED ON</strong> <%= @order.created_at.to_date %></li>
        <li><strong>SPEECH</strong> <%= @order.speech.title %></li>
        <%#= @order.teddy_sku %>
        <li><strong>TOTAL</strong> <%= @order.speech.total_price %></li>
      </li>
    </ul>
    <p>Estimated delivery in <strong>1 business day</strong></p>
  </div>
</div>
</div>
