<div class="container">
  <div class="row py-5 mt-5">
    <div class="col">
    <div class="row my-4 p-4 card_box text-center" >
      <h1>Order #<%= @order.id %> <small><span class="badge badge-primary text-dark"><%= @order.state %></span></small></h1>
      <ul class="list-unstyled">
        <li><strong>ISSUED ON</strong> <%= @order.created_at.to_date %></li>
        <li><strong>SPEECH</strong> <%= @order.speech.title %></li>
        <%#= @order.teddy_sku %>
        <li><strong>TOTAL</strong> <%= @order.speech.total_price %>円</li>
      </li>
    </ul>
    <p>Estimated delivery in <strong>1 business day</strong></p>
    <p>Thank you for your business!</p>
    <%= link_to "Home", root_path, class: "btn btn-secondary mb-3" %>
    <%= link_to "Speeches", speeches_path, class: "btn btn-orange mb-3" %>
    <%= link_to "This speech", speech_path(@order.speech), class: "btn btn-purple mb-3" %>
    </div>
  </div>
</div>
</div>
