<div class="home-page">
  <%# Banner %>
  <div class="home-header">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="hero-text-box">
            <h1>MyEnglishSpeech</h1>
            <h2>Your words, perfected</h2>
            <a href="#" class="btn btn-full">Record a speech</a>
            <a href="#" class="btn btn-ghost">About this service</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%# What is MyEnglishSpeech? %>
  <section id="explanation">
    <div class="container">
      <div class="row justify-content-center" id="overview">
        <h2>More than just translations</h2>
        <div class="row justify-content-center">
          <div class="col-sm-10">
            <p class="long-copy">
              When you need your English corrected, what can you do? If you don't have teacher or native speaker on hand, look no further than MyEnglishSpeech. Get corrections to your grammar and pronunciation so that your English sounds perfect!
            </p>
          </div>
        </div>
        <div class="row" id="icons">
          <div class="col-md-3">
            <i class="far fa-file-audio"></i>
            <h3>Native pronunciation</h3>
            <span class="icon-text">Hear your own words spoken back to you by a native English speaker! You can listen to their pronunciation, intonation,  &mdash; everything that matters.</span>
          </div>
          <div class="col-md-3">
            <i class="far fa-comments"></i>
            <h3>Notes from teachers</h3>
            <span class="icon-text">Your teacher will provide you with notes to fix any mistakes and help you understand English grammar. You can get feedback for both your composition and performance.</span>
          </div>
          <div class="col-md-3">
            <i class="fas fa-clipboard"></i>
            <h3>Speech transcript</h3>
            <span class="icon-text">To help you plan your words, you can type in a transcript of your speech. Your teacher will return to you both the audio and a new corrected transcript for you to study.</span>
          </div>
          <div class="col-md-3">
            <i class="far fa-paper-plane"></i>
            <h3>Quick turn-around</h3>
            <span class="icon-text">You can expect that within 24 hours of submitting your speech, we will have the re-recorded audio and revised transcript ready for you. Speed is our specialty!</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="product-sample">
    <div class="container">
      <div class="row justify-content-center">
        <%= image_tag "product_sample.png" %>
      </div>
    </div>
  </section>
  <section id="how-it-works">
    <div class="container">
      <h2>How it works</h2>
      <div class="row justify-content-center">
        <div class="col-12 col-md-6">
          <%= image_tag "voice-recording2.jpg" %>
        </div>
        <div class="col-12 col-md-6">
          <div class="steps">
            <div>1</div>
            <p>Write a transcript of your speech and any notes (in English or Japanese)</p>
          </div>
          <div class="steps">
            <div>2</div>
            <p>Record your voice using our app and send it to a teacher</p>
          </div>
          <div class="steps">
            <div>3</div>
            <p>Within a day, a teacher will re-record your speech and send it back</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="reviews" style="background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://res.cloudinary.com/dqco8z2dj/image/upload/v1646562338/speech1_ey4wuq.jpg);">
    <div class="container">
      <div class="row justify-content-center">
        <h2 class="mt-5">Satisfied customers</h2>
      </div>
      <div class="row">
        <div class="col col-md-4">
          <blockquote>
            <i class="fas fa-quote-left"></i>
            I was so worried when I had to give a speech in English as part of my class in university. In just one day, my speech was ready! I don’t have many foreign friends, so MyEnglishSpeech helped me practice with confidence. Thanks!
            <i class="fas fa-quote-right"></i>
            <cite>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
              Yumi Ochiai, <br>
              university student 1st grade</cite>
          </blockquote>
        </div>
        <div class="col col-md-4">
          <blockquote>
            <i class="fas fa-quote-left"></i>
            I give academic lectures in English at international conferences several times a year, and textbooks just don’t have the field-specific words I need. This service allows me to be understood clearly by my peers in the scientific community.
            <i class="fas fa-quote-right"></i>
            <cite>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
              Dr. Masaaki Amaha, <br>
              chemistry researcher</cite>
          </blockquote>
        </div>
        <div class="col col-md-4">
          <blockquote>
            <i class="fas fa-quote-left"></i>
            To reach a wider audience with my videos, I need English. But there are many cultural references and idioms that I need help translating for my foreign viewers. The teacher’s notes were so useful. Thumbs up for this app!
            <i class="fas fa-quote-right"></i>
            <cite>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
              Yasuaki "Yahoo" Ito, <br>
              Youtube talent</cite>
          </blockquote>
        </div>
      </div>
    </div>
  </section>
  <%# <section id="contact-us">contact us</section> %>
</div>
