<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(	https://img.freepik.com/free-vector/job-interview-conversation_74855-7566.jpg?w=1800);">
  <div class="container">
    <h1>Your speeches</h1>
  </div>
</div>
<div id="index-body">
  <div class="container my-5">
    <h1 class="text-center py-3 index-title"> &mdash; Ready for correction &mdash;</h1>
    <div class="container-speech">
      <% @speeches.each do |speech| %>
        <% unless speech.title.nil? %>
          <% unless speech.current_status.include?("Corrected by") || speech.current_status.include?("Awaiting payment") %>
            <%= render 'speech_card', speech: speech %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <h1 class="text-center py-3 index-title"> &mdash; Pending payment &mdash;</h1>
    <div class="container-speech">
      <% @speeches.each do |speech| %>
        <% unless speech.title.nil? %>
          <% if speech.current_status.include?("Awaiting payment") %>
            <%= render 'speech_card', speech: speech %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <h1 class="text-center py-3 index-title"> &mdash; History &mdash;</h1>
    <div class="container-speech">
      <% @speeches.each do |speech| %>
        <% unless speech.title.nil? %>
          <% if speech.current_status.include?("Corrected by") %>
            <%= render 'speech_card', speech: speech %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="cards my-5">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(	https://img.freepik.com/free-vector/search-concept-landing-page_52683-11001.jpg?w=1480)">
        <%= link_to 'Home', root_path%>
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://img.freepik.com/free-vector/microphone-sound-illustration_24908-61095.jpg?w=1060)">
        <%= link_to 'Recording', new_speech_url %>
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(	https://img.freepik.com/free-vector/landing-page-credit-card-payment-concept_52683-25085.jpg?w=1380)">
        Payment
      </div>
    </div>
  </div>
</div>
</div>
