<div id="recording-studio-body">
  <div class="container" data-controller="recording">
    <h1>Recording Studio</h1>
    <%= simple_form_for @speech do |f| %>
      <div class="row">
        <div class="col col-md-5 offset-md-1 ">
          <% if current_user.teacher? && params["training"].present? %>
            <h4 class="text-danger">Correcting student's speech</h3>
            <h3 class="bg-white overflow-auto"><%= @training.speeches[0].title %></h3>
            <p>by <%= @training.speeches[0].user.first_name %> <%= @training.speeches[0].user.last_name %></p>
            <form action="/speeches">
              <input class="d-none" type="text" name="training" value=<%= @training.id %>>
            </form>
            <p>Student speech transcript:</p>
            <div class="bg-white overflow-auto">
              <%= @training.speeches[0].transcript %>
            </div>
            <p>Student speech notes:</p>
            <div class="bg-white overflow-auto">
              <%= @training.speeches[0].notes %>
            </div>
          <% else %>
            <%= f.input :title %>
            <p>by <%= current_user.first_name %> <%= current_user.last_name %> </p>
          <% end %>
          <%= f.input :length, as: :hidden, input_html: { data: { recording_target: "milliseconds" } } %>
          <%= f.input :transcript %>
          <%= f.input :notes %>
        </div>
        <div class="col col-md-5 offset-md-1" >
          <div class="row">
            <button data-action="click->recording#record" class="my-2 fas fa-microphone-alt big-icon audio-button" data-recording-target="start_recording" type="button"></button>
            <button data-action="click->recording#stop_recording" class="my-2 fas fa-assistive-listening-systems d-none big-icon audio-button" data-recording-target="ear" type="button"></button>
            <button data-action="click->recording#record" class="my-2 far fa-check-circle d-none big-icon audio-button text-success" data-recording-target="start_playback" type="button"></button>
            <div class="col">
              <article class="clip my-2 d-flex justify-content-center d-none"
              data-recording-target="clip">
                <audio controls src=""></audio>
              </article>
              <div class="d-grid gap-2">
                <button class="btn btn-danger stop d-none"
                data-action="click->recording#stop_recording"
                  data-recording-target="stop_recording" type="button">Stop Recording</button>
                <button class="btn btn-danger d-none" type="button"
                  data-recording-target="stop_playback">Stop Playback</button>
                <button class="btn btn-info d-none" type="button"
                  data-action="click->recording#reset"
                  data-recording-target="reset_playback">Reset</button>
                <%= f.button :submit, "Upload", class: "btn btn-primary d-none",
                data: { recording_target: 'upload', action: "click->recording#upload" } %>
                <%# <%= f.input :file, as: :file, class: "d-none" %>
                <%= link_to "Back Home", root_path, class: "btn btn-secondary" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
