<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(	https://img.freepik.com/free-vector/payment-information-concept-illustration_114360-2886.jpg?w=1060);">
  <div class="container">
    <h1>Please confirm your order</h1>
  </div>
</div>
<div class="container-payments d-flex position-relative text-center">
  <div class="row py-2 mt-2">
    <div class="col">
      <div class="row card_box text-center" >
        <p>Purchase of <strong><%= @order.speech.seconds %></strong> seconds of speech time for <strong><%= @order.speech.total_price %>円</strong> for the speech.</p>
        <p>Speech's title: <%= @order.speech.title %></p>
      </div>
    </div>
  </div>
</div>
<div class="row-button">
  <button id="pay" class="col-button col-6 btn btn-purple mb-3">Pay</button>
  <%= link_to "Cancel", speeches_path, class:"col-button col-6 btn btn-orange mb-3" %>
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    const paymentButton = document.getElementById('pay');
    paymentButton.addEventListener('click', () => {
      const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
      stripe.redirectToCheckout({
        sessionId: '<%= @order.checkout_session_id %>'
      });
    });
  </script>
</div>
