<div class="card-product my-3">
  <img src="https://www.nicepng.com/png/full/131-1314805_radio-spot-icon-mike-icons.png" />
  <div class="card-product-infos">
    <%= link_to 'check', speech_path(speech) %>
    <strong><%= speech.title %></strong>
    <p>Teacher : <%= speech.user.first_name %> <%= speech.user.last_name %></p>
    <p>Recording time : </p>
  </div>
  <div class="card-product-infos-transcript">
    <h2>Transcript</h2>
    <%= speech.transcript %>
  </div>
  <div class="card-product-infos-avatar">
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="avatar" />
  </div>
</div>
