<div class="card-product flex-container my-5 position-relative">
  <img src="https://www.nicepng.com/png/full/131-1314805_radio-spot-icon-mike-icons.png" />
  <div class="flex-item">
    <!-- <a href="http://[::1]:3000/speeches/<%= speech.id %>" class="btn btn-primaly stretched-link"> -->
    <%= link_to'Title', speech_path(speech.id), class:"btn btn-primaly stretched-link ",style: "font-weight: bold; font-size: 14px" %>
    <p><%= speech.title %></p>
  </div>
  <div class="flex-item">
    <h2>Teacher</h2>
    <p><%= speech.user.first_name %> <%= speech.user.last_name %></p>
  </div>
  <div class="flex-item">
    <h2>Recording time</h2>
    <p><%= speech.seconds %> seconds</p>
  </div>
  <div class="flex-item">
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="avatar" />
  </div>
</div>
