<div class="container-card d-flex position-relative text-center">
  <div class="speech-card">
    <div class="speech-card-contents">
      <%= cl_image_tag speech.user.photo.key, class: "avatar-large" %>
      <p class=><%= speech.user.first_name %> <%= speech.user.last_name %></p>
      <%= link_to speech.title.present? ? speech.title : "Response to #{speech.training.speeches[0].title}", speech_path(speech.id), class:"text-decoration-none", style: "font-weight: bold; font-size: 20px;" %>
      <p><%= speech.seconds %> seconds &mdash; <%= speech.total_price %>円</p>
      <%# <p>Total price: </p> %>
      <h3><span class="status-pill <%= speech.status_color %> ">
          <%= speech.current_status %></span></h3>
      <img src="https://www.nicepng.com/png/full/131-1314805_radio-spot-icon-mike-icons.png" class="avatar-large">
    </div>
  </div>
</div>
<!--
<div class="card-product flex-container my-5 position-relative">
  <img src="https://www.nicepng.com/png/full/131-1314805_radio-spot-icon-mike-icons.png" />
  <div class="flex-item"> -->
<!-- <a href="http://[::1]:3000/speeches/<%= speech.id %>" class="btn btn-primaly stretched-link"> -->
<!--
    <%= link_to'Title', speech_path(speech.id), class:"btn btn-primaly stretched-link ",style: "font-weight: bold; font-size: 14px" %>
    <p><%= speech.title %></p>
  </div>
  <div class="flex-item">
    <h2>Teacher</h2>
    <p><%= speech.user.first_name %> <%= speech.user.last_name %></p>
  </div>
  <div class="flex-item">
    <h2>Recording time</h2>
    <p><%= speech.seconds %> seconds</p>
  </div>
  <div class="flex-item">
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="avatar" />
  </div>
</div>
-->
