<div class="container-card d-flex position-relative text-center">
  <div class="speech-card">
    <div class="speech-card-contents">
      <% if current_user.teacher? %>
        <% if speech.user.photo.attached? %>
          <%= cl_image_tag speech.user.photo.key, class: "avatar-large" %>
        <% end %>
        <p class=><%= speech.user.first_name %> <%= speech.user.last_name %></p>
      <% end %>
      <%= link_to speech.title.present? ? speech.title : "Response to #{speech.training.speeches[0].title}", speech_path(speech.id), class:"text-decoration-none", style: "font-weight: bold; font-size: 20px;" %>
      <p><%= pluralize speech.seconds, "second" %> &mdash; <%= speech.total_price %>円</p>
      <h3><span class="status-pill <%= speech.status_color %> ">
          <%= speech.current_status %></span></h3>
      <% if speech.current_status.include?("Corrected by") %>
        <%= cl_image_tag speech.training.speeches.last.user.photo.key, class: "avatar-large my-2" %>
      <% else %>
        <img src="https://www.nicepng.com/png/full/131-1314805_radio-spot-icon-mike-icons.png" class="avatar-large">
      <% end %>
    </div>
  </div>
</div>
