<div class="container-card d-flex position-relative text-center">
  <div class="speech-card">
    <div class="speech-card-contents">
      <% if current_user.teacher? %>
        <div class="d-flex align-items-center justify-content-center mb-3">
          <div>
            <% if speech.user.photo.attached? %>
              <%= cl_image_tag speech.user.photo.key, class: "avatar-large mx-2" %>
            <% end %>
          </div>
          <div class="d-flex">
            <p class="text-wrap" style="max-width: 120px;"><%= speech.user.first_name %> <%= speech.user.last_name %></p>
          </div>
        </div>
      <% end %>
      <%= link_to speech.title.present? ? speech.title : "Response to #{speech.training.speeches[0].title}", speech_path(speech.id), class:"text-decoration-none speech-title" %>
      <p><%= pluralize speech.seconds, "second" %> &mdash; <%= speech.total_price %>円</p>
      <div class="row align-items-center">
        <div class="d-flex align-items-center justify-content-center">
          <% if speech.current_status.include?("Corrected by") %>
            <%= cl_image_tag speech.training.speeches.last.user.photo.key, class: "avatar-large my-2 mx-2" %>
          <% else %>
            <img src="https://www.nicepng.com/png/full/131-1314805_radio-spot-icon-mike-icons.png" class="avatar-large mx-2">
          <% end %>
          <h3 style="min-width: fit-content;"><span class="status-pill <%= speech.status_color %> ">
              <%= speech.current_status %></span>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
