<h2 class="text-center"> <%= speech.user.teacher? ? "Teacher speech" : "Student speech" %></h2>
<div class="col col-12 col-md-4 text-center">
  <p>Speech audio</p>
  <div class="d-flex align-items-center">
    <audio controls src="https://res.cloudinary.com/dqco8z2dj/video/upload/<%= Rails.env %>/<%= speech.audio.key %>.webm"> </audio>
  </div>
</div>
<div class="col col-12 col-md-4 text-center">
  <p>Transcript</p>
  <div class="w-100 h-50 overflow-auto my-2 bg-white"><%= speech.transcript %></div>
</div>
<div class="col col-12 col-md-4 text-center">
  <p>Notes</p>
  <div class="w-100 h-50 overflow-auto my-2 bg-white"><%= speech.notes %></div>
</div>
